Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -boost-*,
        -darwin-*,
        -fuchsia-*,
        -google-*,
        -llvmlibc-*,
        -modernize-use-trailing-return-type,
        -mpi-*,
        -objc-*,
        -openmp-*,
        -zircon-*
"
HeaderFilterRegex: '.*'
FormatStyle: 'file'
WarningsAsErrors: '*'
