Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -boost-*,
        -darwin-*,
        -fuchsia-*,
        -google-*,
        -llvmlibc-*,
        -llvm-header-guard,
        -modernize-use-trailing-return-type,
        -mpi-*,
        -objc-*,
        -openmp-*,
        -zircon-*,
        -readability-redundant-access-specifiers,
        -bugprone-easily-swappable-parameters,
        -cert-dcl21-cpp
"
CheckOptions:
    - key: misc-include-cleaner.IgnoreHeaders
      value:
        qabstractitemmodel.h;
        qcolor.h;
        qcontainerfwd.h;
        qcoreapplication.h;
        qhash.h;
        qhashfunctions.h;
        qlist.h;
        qnamespace.h;
        qobject.h;
        qobjectdefs.h;
        qqmlintegration.h;
        qset.h;
        qtestcase.h;
        qtmetamacros.h;
        qtquicktest.h;
        qttestglobal.h;
        quicktest.h;
        qvariant.h
    - key: hicpp-special-member-functions.AllowSoleDefaultDtor
      value: true
    - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
      value: true
    - key: readability-function-cognitive-complexity.IgnoreMacros
      value: true
FormatStyle: 'file'
WarningsAsErrors: '*'
