name: Continuous Integration
on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      # Set up a matrix to run the following 3 configurations:
      # 1. <Windows, Release, latest MSVC compiler toolchain on the default runner image, default generator>
      # 2. <Linux, Release, latest GNU compiler toolchain on the default runner image, default generator>
      # 3. <Linux, Release, latest Clang compiler toolchain on the default runner image, default generator>
      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release]
        cpp_compiler: [g++, clang++, cl]
        include:
          - os: windows-latest
            run_tests_target: RUN_TESTS
          - os: ubuntu-latest
            run_tests_target: test
          - os: ubuntu-latest
            run_tests_target: test
        exclude:
          - os: windows-latest
            cpp_compiler: g++
          - os: windows-latest
            cpp_compiler: clang++
          - os: ubuntu-latest
            cpp_compiler: cl

    steps:
    - uses: actions/checkout@v4

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.8.1'
        install-deps: 'true'
        cache: 'true'
        cache-key-prefix: 'install-qt-action'

    - name: Install gcovr
      if: matrix.cpp_compiler == 'g++'
      run: python -m pip install gcovr

    - name: Configure CMake
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -DCMAKE_PREFIX_PATH=${{ env.QT_ROOT_DIR }}
        -S ${{ github.workspace }}

    - name: Build all targets
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }} -j8

    - name: Run backend tests
      run: ctest --test-dir ${{ steps.strings.outputs.build-output-dir }} -C ${{ matrix.build_type }} -LE frontend-test -j8

    - name: Run frontend tests
      if: matrix.os != 'windows-latest'
      run: QT_QPA_PLATFORM=offscreen ctest --test-dir ${{ steps.strings.outputs.build-output-dir }} -C ${{ matrix.build_type }} -L frontend-test -j8

    - name: Run frontend tests
      if: matrix.os == 'windows-latest'
      run: ctest --test-dir ${{ steps.strings.outputs.build-output-dir }} -C ${{ matrix.build_type }} -L frontend-test -j8

    - name: Cache build artifacts
      if: matrix.cpp_compiler == 'g++'
      uses: actions/upload-artifact@v4
      with:
        name: GNU-build
        path: ${{ steps.strings.outputs.build-output-dir }}

  test-coverage:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.8.1'
        install-deps: 'true'
        cache: 'true'
        cache-key-prefix: 'install-qt-action'

    - name: Install gcovr
      run: python -m pip install gcovr

    - name: Receive caches build directory
      uses: actions/download-artifact@v4
      with:
        name: GNU-build
        path: ${{ steps.strings.outputs.build-output-dir }}

    - name: Generage test coverage report
      run: |
        mkdir -p ${{ steps.strings.outputs.build-output-dir }}/gcovr
        cmake --build ${{ steps.strings.outputs.build-output-dir }} --target coverage

    - name: Cache coverage artifacts
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: ${{ steps.strings.outputs.build-output-dir }}/gcovr

    - name: Test coverage
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --target verify-test-coverage -j8

  code-checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: License check
      shell: bash
      run: bash ./scripts/verify_license_headers.sh

    - name: Validate there is no direct usage of QUuid
      shell: bash
      run: bash ./scripts/verify_no_quuid_usage.sh

    - name: Validate there are no include guards
      shell: bash
      run: bash ./scripts/verify_no_include_guards.sh

  static-code-analysis:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Receive caches build directory
      uses: actions/download-artifact@v4
      with:
        name: GNU-build
        path: ${{ steps.strings.outputs.build-output-dir }}

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.8.1'
        install-deps: 'true'
        cache: 'true'
        cache-key-prefix: 'install-qt-action'

    - name: Run clang-tidy
      shell: bash
      run: ./scripts/run_linter_on_changed_files.sh ${{ steps.strings.outputs.build-output-dir }}

  summary:
    needs: [code-checks, test-coverage, static-code-analysis, build-and-test]
    runs-on: ubuntu-latest
    steps:
    - name: Print success message
      shell: bash
      run: echo "All checks passed successfully."
